* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

img {
    max-width: 100%;
}

a {
    color: #0066cc;
}

.item-name {
    font-size: 56px;
    font-weight: 800;
    text-align: center;
}

.moto {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
}

.price {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    margin: 10px 0;
}

.second-item-name {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.moto-two {
    color: grey;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

.price-two {
    text-align: center;
    margin: 10px 0;
}


/* LINKS START */
.list-links ul {
    list-style: none;
    text-align: center;
}

.list-links ul li a {
    color: #06c;
    font-size: 21px;
    text-decoration: none;
}

.list-links ul li {
    padding-right: 20px;
    display: inline-block;
}

.list-links ul li a:hover {
    color: #86868b;
}

.list-links ul li a:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f105";
    padding-left: 10px;
}

/* LINKS END */

.new-alert {
    display: none;
    text-align: center;
}

/* media query highlight boxs START*/
@media (min-width: 768px) {
    .new-alert {
        color: coral;
        display: block;
        font-size: 35px;
    }

    .first-box {
        min-height: 620px;
    }

    .second-box {
        min-height: 660px;
    }

    .third-box {
        min-height: 660px;
    }

    .fourth-box .left-internal-box .left-container {
        margin: 10px 5px 5px 10px;
    }

    .fourth-box .right-internal-box .right-container {
        margin: 10px 10px 5px 5px;
    }

    .mobile-off {
        display: block;
    }

    .bigscreen-off {
        display: none;
    }

    .list-title:after {
        font-family: "FontAwesome";
        font-weight: 300;
        content: "\f067";
        float: right;
        display: none;
    }

    .mid-ftr ul li {
        display: block;
    }

    /* media query for highlight boxs END */
}
